/* =============================================================
   CSS z: sluzby.css
   ============================================================= */

.hero-sluzby{
    background-image: url("images/hero-sluzby.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 90vh;
    position: relative;
    margin-bottom: 10vh;
}

.sluzby{
    margin-left: 10vw;
    width: 50%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;
    background-color: rgb(255, 255, 255, 0.7);
    padding-top: 5vh;
    padding-bottom: 5vh;
    padding-left: 3vw;
    padding-right: 3vw;
    border-radius: 2vw;
    text-align: justify;
}

.buttons{
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1vw;
    margin-top: 2vh;
}

.buttons button {
    font-size: 1.4vw;
    padding: 1.4vw 2vw;
    border-radius: 30px;
    background-color: #C166C0;
    color: #c4edd1;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
    white-space: nowrap;
}

.buttons button:hover {
    transform: scale(1.05);
    background-color: #a54fa4;
}

.nadpis-sluzby{
    margin-left: 8vw;
}

.liceni{
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    align-items: center;
    background-color: #bca5e0;
    border-radius: 2vw;
    gap: 5vw;
    width: 84vw;
    margin: auto;
    margin-bottom: 10vh;
}

.liceni-odstavec{
    width: 50vw;
    padding-left: 4vw;
    padding-right: 4vw;
    padding-bottom: 3vh;
    padding-top: 3vh;
}

.rtenka-list {
    list-style: none;
    padding-left: 2.5em;
    margin-left: 2vw;
  }
  
.rtenka-list li {
    position: relative;
    margin-bottom: 1em;
    font-size: 1.1vw;
}
  
.rtenka-list li::before {
    content: "";
    position: absolute;
    left: -2em;
    top: 0.15em;
    width: 24px;
    height: 24px;
    background-image: url("images/lipstick.png"); /* nahraď skutečnou cestou k obrázku */
    background-size: contain;
    background-repeat: no-repeat;
}

.liceni-fotka{
    width: 20vw;
    border-color: white;
    border-style: solid;
}

h1 {
    font-size: 1.8vw;
}
h2 {
    font-size: 1.6vw;
}
p {
    font-size: 1.1vw;
}
q {
    font-size: 1.1vw;
}

.liceni ul{
    padding-left: 1.5vw;
}

ul li{
    font-size: 1.1vw;
}

.tabulka {
    width: 84vw;
    margin: 5vh auto;
    background-color: #c4edd1;
    border-radius: 2vw;
    padding: 2vh 2vw;
    box-shadow: 0 0.8vw 2.5vw rgba(0, 0, 0, 0.2);
}

.tabulka h2 {
    color: #C166C0;
    text-align: center;
    margin-bottom: 3vh;
    font-size: 1.6vw;
}

.tabulka table {
    width: 100%;
    border-collapse: collapse;
    margin: 2vh 0;
    border: 0.2vw solid #D43ED2;
}

.tabulka th {
    background-color: #C166C0;
    color: #c4edd1;
    padding: 1.5vh 1.5vw;
    text-align: left;
    font-size: 1.1vw;
    border: 0.2vw solid #D43ED2;
}

.tabulka td {
    padding: 1.2vh 1.2vw;
    font-size: 1.1vw;
    border: 0.2vw solid #D43ED2;
}

.tabulka tr:hover {
    background-color: rgba(196, 237, 209, 0.5);
}

@media (max-width: 820px) and (min-width: 431px) {
    .hero-sluzby {
        height: 70vh;
        margin-bottom: 5vh;
    }
    
    .sluzby {
        width: 70%;
        margin-left: 5vw;
        padding: 3vh 2vw;
    }

    .header-pink h1 {
        font-size: 3.5vw;
    }

    .header-pink ul li {
        font-size: 3vw;
    }

    .header-pink.shrink h1 {
        font-size: 3vw;
    }

    .header-pink.shrink ul li {
        font-size: 2.8vw;
    }

    .sluzby{
        border-radius: 30px;
        width: 90vw;
    }

    .liceni{
        width: 90vw;
        padding-right: 3vw;
    }

    .buttons button{
        font-size: 2vw;
    }

    .sluzby h2{
        font-size: 3vw;
    }

    .sluzby p{
        font-size: 2vw;
    }
    
    .nadpis-sluzby{
        font-size: 4vw;
    }

    .liceni-odstavec h2 {
        font-size: 3vw;
    }

    .liceni-fotka{
        width: 38vw;
    }

    .rtenka-list{
        margin-left: 5vw;
    }

    .rtenka-list li {
        font-size: 2vw;
        margin-bottom: 1.5vh;
    }
    
    .rtenka-list li::before {
        width: 20px;
        height: 20px;
        left: -2em;
        top: 0.2em;
    }
    
    .liceni-odstavec ul li {
        font-size: 2vw;
    }

    .tabulka {
        width: 90vw;
        padding: 2vh 2vw;
    }

    .tabulka h2 {
        font-size: 3vw;
        margin-bottom: 2vh;
    }

    .tabulka th {
        font-size: 2vw;
        padding: 1vh 1vw;
    }

    .tabulka td {
        font-size: 2vw;
        padding: 1vh 1vw;
    }
}

@media (max-width: 430px) {
    .hero-sluzby {
        height: 60vh;
        margin-bottom: -15vh;
        position: static;
    }
    
    .sluzby {
        width: 90vw;
        margin: 0 auto;
        position: static;
        top: auto;
        left: auto;
        transform: none;
        padding: 3vh 4vw;
        border-radius: 5vw;
        z-index: auto;
        text-align: center;
    }

    .sluzby h2 {
        font-size: 5.5vw;
        text-align: center;
        margin-bottom: 2vh;
    }

    .sluzby p {
        font-size: 4.5vw;
    }

    .liceni {
        flex-direction: column-reverse;
        width: 90vw;
        gap: 4vw;
        padding: 3vh 0;
        margin: 0 auto 5vh auto;
        border-radius: 5vw;
    }

    .liceni-odstavec {
        width: 90vw;
        padding: 0 3vw;
    }

    .liceni-fotka {
        width: 70vw;
        margin: 0 auto;
    }

    .liceni-odstavec h2 {
        font-size: 5.5vw;
        text-align: center;
        margin-bottom: 2vh;
    }

    .rtenka-list {
        margin-left: 10vw;
    }
    
    .rtenka-list li {
        font-size: 4.5vw;
        margin-bottom: 2vh;
    }
    
    .rtenka-list li::before {
        width: 18px;
        height: 18px;
        left: -2.2em;
        top: 0.2em;
    }

    .liceni-odstavec ul {
        padding-left: 6vw;
    }

    .liceni-odstavec ul li {
        font-size: 4.5vw;
        margin-bottom: 1vh;
    }

    .tabulka {
        width: 95vw;
        padding: 1vh 2vw;
        border-radius: 4vw;
        margin: 2vh auto;
        background-color: #c4edd1;
        box-shadow: 0 0.8vw 2.5vw rgba(0, 0, 0, 0.2);
    }

    .tabulka h2 {
        font-size: 5vw;
        margin-bottom: 1.5vh;
        text-align: center;
        color: #C166C0;
    }

    .table-container {
        overflow-x: auto;
        width: 100%;
    }

    .table-container table {
        min-width: 600px;
        width: auto;
        border-collapse: collapse;
    }

    .table-container th,
    .table-container td {
        font-size: 3.5vw;
        padding: 1.5vh 2vw;
        white-space: nowrap;
        border: 0.3vw solid #D43ED2;
    }

    .table-container td:nth-child(3),
    .table-container th:nth-child(3) {
        min-width: 100px;
        width: 25%;
        text-align: center;
        white-space: normal;
    }

    .table-container tr:hover {
        background-color: rgba(196, 237, 209, 0.4);
    }

    .buttons {
        gap: 2vw;
        margin-top: 3vh;
    }

    .buttons button {
        font-size: 4.5vw;
        padding: 1.5vh 3vw;
        width: 80%;
        margin: auto;
    }

    .nadpis-sluzby {
        font-size: 6.5vw;
        margin: 10vh auto 2vh 5vw;
        width: fit-content;
    }

    .header-pink h1{
        display: none;
    }

    .header-pink nav{
        width: 80%;
    }

    .header-pink.shrink nav{
        width: 85%;
    }
}
